@font-face {
  font-family: "Calibri";
  src: url("fonts/calibri/calibri-regular.ttf");
}
body {
  background-color: black;
}

.generate-cardid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
  padding-top: 50px;
  flex-direction: column;
  row-gap: 50px;
}
.generate-cardid h2 {
  font-family: "AdamGorry";
  font-weight: 900;
  font-size: 25px;
  font-family: "AdamGorry";
  font-size: calc(var(--index) * 1.2);
  line-height: 1.75;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgb(231, 229, 229);
}
.generate-cardid #cardid {
  line-height: 1.75;
  font-size: calc(var(--index) * 0.75);
  font-family: "Mali";
  font-weight: 400;
  color: rgb(228, 227, 227);
}
.generate-cardid button {
  height: 50px;
  width: 200px;
  border-radius: 8px;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-family: "AdamGorry";
  letter-spacing: 2px;
  font-weight: 900;
  color: white;
  transition: 0.3s;
  background-color: black;
  border: 1px solid white;
}
.generate-cardid button:hover {
  transform: scale(1.05);
}