@font-face {
  font-family: "Calibri";
  src: url("fonts/calibri/calibri-regular.ttf");
}
@font-face {
  font-family: "AdamGorry";
  src: url(../fonts/SVN-Adam-Gorry.ttf);
}
html ::-webkit-scrollbar {
  width: 8px;
}
html ::-webkit-scrollbar-track {
  background: lightgray;
}
html ::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}
html ::-webkit-scrollbar-thumb:hover {
  background: black;
}

a {
  text-decoration: none;
  color: var(--text);
}

button {
  height: 50px;
  width: 200px;
  border-radius: 8px;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-family: "AdamGorry";
  letter-spacing: 2px;
  font-weight: 900;
  color: white;
  transition: 0.3s;
  background-color: black;
}
button:hover {
  transform: scale(1.05);
}

@keyframes navsticky {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.nav-sticky {
  display: block;
  animation: navsticky 0.5s;
  transition: transform 0.4s;
}

nav {
  position: sticky;
  top: 0;
  display: none;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
nav .nav-wrap {
  height: 70px;
  padding: 0 80px;
  max-width: 1680px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(var(--index) * 0.75);
  font-weight: 900;
  color: var(--text);
  font-family: "AdamGorry";
}
nav .nav-wrap .left ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav .nav-wrap .left li {
  float: left;
  margin-left: 60px;
  position: relative;
}
nav .nav-wrap .left li > a {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
nav .nav-wrap .left li > a:hover {
  color: white;
}
nav .nav-wrap .left li:first-child {
  margin-left: 0;
}
nav .nav-wrap .right a:hover {
  color: white;
}

.btn-explore {
  position: absolute;
  bottom: 25vh;
}

.main-title {
  transition: 0.6s;
  cursor: pointer;
}
.main-title:hover {
  letter-spacing: 20px;
}

.contactus-content-item {
  flex: 1;
}
.contactus-content-item h2 {
  font-family: "AdamGorry";
  font-size: 30px;
  line-height: 1.75;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 20px;
}
.contactus-content-item button {
  margin-top: 20px;
}
.contactus-content-item input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding-left: 20px;
  font-family: "Mali";
  outline: none;
}
.contactus-content-item input:focus {
  border: 3px solid black;
}
.contactus-content-item textarea {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  resize: none;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-family: "Mali";
  outline: none;
}
.contactus-content-item textarea:focus {
  border: 3px solid black;
}
.contactus-content-item .input-name-mail {
  display: flex;
  justify-content: space-between;
}
.contactus-content-item .input-name-mail input {
  width: 48%;
}
.contactus-content-item > input {
  margin-top: 20px;
}
.contactus-content-item:last-of-type {
  padding: 0 30px;
}
.contactus-content-item:last-of-type p {
  color: var(--text);
  font-size: 16px;
  line-height: 26px;
}

.title-header {
  margin-bottom: 0;
  text-align: center;
  padding-top: 150px;
  font-family: "AdamGorry";
  font-size: 30px;
  line-height: 1.75;
  font-weight: 600;
  letter-spacing: 2px;
}

.content-wrap {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 0;
}
.content-wrap .content-left {
  margin-top: 50px;
}
.content-wrap .content-left .content-left-item {
  margin-bottom: 0;
}
.content-wrap .content-left .content-left-item p {
  line-height: 1.75;
  font-size: 20px;
  font-family: "Mali";
  font-weight: 400;
  color: "rgb(228, 227, 227)";
}
.content-wrap .content-right {
  margin: 0;
  padding: 0;
}
.content-wrap .content-right .content-right-item {
  margin-bottom: 0;
  margin-top: 40px;
}
.content-wrap .content-right .content-right-item p {
  line-height: 1.75;
  font-size: 20px;
  font-family: "Mali";
  font-weight: 400;
  color: "rgb(228, 227, 227)";
}

.footer {
  margin-top: 100px;
  max-height: 400px;
}
.footer img {
  width: 100%;
  height: auto;
}

#scrolltop img {
  width: 48px;
  height: 48px;
}
#scrolltop:hover {
  cursor: pointer;
}

.scrolltop-show {
  position: fixed;
  bottom: 60px;
  right: 30px;
  width: 60px;
  height: 60px;
  animation: navsticky 0.8s;
  transition: transform 0.4s;
}