@mixin scrollbar ($width,$track-color,$thumb-color,$thumb-hover-color){
    & ::-webkit-scrollbar {
        width: $width;
    }
    & ::-webkit-scrollbar-track {
        background: $track-color;
    }
    & ::-webkit-scrollbar-thumb {
        background: $thumb-color;
        border-radius: 5px;
    }
    & ::-webkit-scrollbar-thumb:hover {
        background: $thumb-hover-color;
    }
}

@mixin title{
    font-family: $fontAdamGorry;
    font-size: 30px;
	line-height: 1.75;
	font-weight: 600;
	letter-spacing: 2px;
}

@mixin text{
    line-height: 1.75;
    font-size: 20px;
    font-family: $fontMali;
    font-weight: 400;
    color: $text-color;
}


