@mixin scrollbar ($width,$track-color,$thumb-color,$thumb-hover-color){
    & ::-webkit-scrollbar {
        width: $width;
    }
    & ::-webkit-scrollbar-track {
        background: $track-color;
    }
    & ::-webkit-scrollbar-thumb {
        background: $thumb-color;
        border-radius: 5px;
    }
    & ::-webkit-scrollbar-thumb:hover {
        background: $thumb-hover-color;
    }
}

@mixin title{
    font-family: $fontAdamGorry;
    font-size: 30px;
	line-height: 1.75;
	font-weight: 600;
	letter-spacing: 2px;
    color: $title-color;
}

@mixin text{
    line-height: 1.75;
    font-size: 20px;
    font-family: $fontMali;
    font-weight: 400;
    color: $text-color;
}
@mixin button{
    height: 50px;
    width: 200px;
    border-radius: 8px;
    border: none;
    user-select: none;
    cursor: pointer;
    font-family: $fontAdamGorry;
    letter-spacing: 2px;
    font-weight: 900;
    color: white;
    transition: 0.3s;
    background-color: black;
    &:hover{
        transform: scale(1.05);
    }
}


